googlemaps
langchain
openai
pandas
pip==23.2.1
proto-plus==1.22.2
protobuf==3.20.0
pydantic
pyowm
streamlit==1.27.2
streamlit-authenticator
streamlit-feedback==0.1.2
tabulate
trubrics @ git+https://github.com/trubrics/trubrics-sdk@b92d64a618a02fbb1c12dc7f9da7af6cabb1001f
# ^ install from github as my pull req has not been updated in pypi yet