googlemaps
langchain
openai
pandas
pip==23.2.1
proto-plus==1.22.2
protobuf==3.20.0
pydantic
pyowm
streamlit==1.27.2
streamlit-authenticator
streamlit-feedback==0.1.2
tabulate
trubrics==1.6.2
# ^ install from github as my pull req has not been updated in pypi yet